Repository BrunoSSantana/rent-car, pull requests merged in 2021-09, with the labels that each got.

#7 Add routes create clients and users
  backend/.eslintrc.json
  backend/package.json
  backend/src/modules/clients/controllers/CreateClientController.ts
  backend/src/modules/clients/entities/Client.ts
  backend/src/modules/clients/repositories/ClientsRepositories.ts
  backend/src/modules/users/controllers/CreateUserController.ts
  backend/src/modules/users/entities/User.ts
  backend/src/modules/users/repositories/UsersRepositories.ts
  backend/src/routes.ts
  backend/src/routes/clients.routes.ts
  backend/src/routes/index.ts
  backend/src/routes/users.routes.ts
  backend/src/server.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: 🗃 server

#10 Add authentication for clients
  backend/package.json
  backend/src/modules/clients/controllers/AuthClientContoller.ts
  backend/src/modules/clients/controllers/CreateClientController.ts
  backend/src/modules/users/controllers/CreateUserController.ts
  backend/src/routes/clients.routes.ts
  backend/yarn.lock
Labels: 🗃 server, 🌟 new feature

#12 Add middleware authenticated user and client
  backend/.env.example
  backend/src/@types/express/index.d.ts
  backend/src/middlewares/ensureAuthenticatedClient.ts
  backend/src/middlewares/ensureAuthenticatedUser.ts
Labels: 🗃 server, 🌟 new feature

#13 Add authentication for Users
  backend/src/modules/users/controllers/AuthUserController.ts
  backend/src/routes/users.routes.ts
Labels: 🗃 server, 🌟 new feature

#14 Add crud cars
  backend/src/database/migrations/1632309069033-CreateCars.ts
  backend/src/middlewares/ensureAuthenticatedClient.ts
  backend/src/middlewares/ensureAuthenticatedUser.ts
  backend/src/modules/cars/controllers/CreateCarController.ts
  backend/src/modules/cars/controllers/DeleteCarController.ts
  backend/src/modules/cars/controllers/FindAllCarsInUserController.ts
  backend/src/modules/cars/controllers/UpdateCarController.ts
  backend/src/modules/cars/entities/Car.ts
  backend/src/modules/cars/repositories/CarsRepositories.ts
  backend/src/routes/cars.routes.ts
  backend/src/routes/index.ts
Labels: 🗃 server, 🌟 new feature

#17 Add rents
  backend/package.json
  backend/src/database/migrations/1632346280466-CreateRents.ts
  backend/src/modules/admin/FindAllCars.ts
  backend/src/modules/admin/FindAllClients.ts
  backend/src/modules/admin/FindAllRents.ts
  backend/src/modules/admin/FindAllUsers.ts
  backend/src/modules/cars/repositories/CarsRepositories.ts
  backend/src/modules/rents/controllers/CreateRentsController.ts
  backend/src/modules/rents/controllers/ExcludeRentsController.ts
  backend/src/modules/rents/controllers/FinallyRentController.ts
  backend/src/modules/rents/controllers/FindRentsByClientController.ts
  backend/src/modules/rents/controllers/FindRentsByIdController.ts
  backend/src/modules/rents/controllers/FindRentsByUserController.ts
  backend/src/modules/rents/controllers/UpdateFinishDateRentController.ts
  backend/src/modules/rents/entities/Rent.ts
  backend/src/modules/rents/repositories/RentsRepositories.ts
  backend/src/modules/users/controllers/DeleteUserController.ts
  backend/src/modules/users/controllers/UpdateUserController.ts
  backend/src/routes/admin.routes.ts
  backend/src/routes/clients.routes.ts
  backend/src/routes/index.ts
  backend/src/routes/rents.routes.ts
  backend/src/routes/users.routes.ts
  backend/src/server.ts
  backend/src/utils/DayjsDateProvider.ts
  backend/yarn-error.log
  backend/yarn.lock
  docs/docs.json
Labels: 🗃 server, 🌟 new feature

#19 Add rents
  backend/package.json
  backend/src/modules/rents/controllers/FindRentByUserGroupByMonth.ts
  backend/src/routes/rents.routes.ts
  backend/src/server.ts
  backend/yarn.lock
Labels: 🗃 server, 🌟 new feature

#21 Add FindCarByIdController
  backend/src/modules/cars/controllers/FindCarByIdController copy.ts
  backend/src/routes/cars.routes.ts
Labels: 🗃 server, 🌟 new feature

#24 Export csv
  backend/src/modules/rents/controllers/CreateCSVByUserGroupYearAndMonth.ts
  backend/src/modules/users/controllers/DownloadCSVByUser.ts
  backend/src/routes/rents.routes.ts
  backend/src/server.ts
Labels: 🗃 server, 🌟 new feature

#25 Feat: cria pagina home
  frontend/src/assets/RentCar.svg
  frontend/src/assets/user.svg
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/styles.js
  frontend/src/theme.js
Labels: ⚛️ frontend, 🌟 new feature

#26 Feat: cria componente informativo
  frontend/src/assets/car.svg
  frontend/src/assets/road.svg
  frontend/src/components/Informative/index.jsx
  frontend/src/components/Informative/styles.js
  frontend/src/components/index.js
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/styles.js
Labels: ⚛️ frontend, 🌟 new feature

#28 Feat: cria componente faca login
  frontend/src/assets/arrowRight.svg
  frontend/src/components/ContainerLogin/index.jsx
  frontend/src/components/ContainerLogin/styles.js
  frontend/src/components/index.js
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/styles.js
Labels: ⚛️ frontend, 🌟 new feature

#30 Feat: cria pagina login
  frontend/src/App.js
  frontend/src/components/ContainerLogin/index.jsx
  frontend/src/pages/LoginClient/index.jsx
  frontend/src/pages/LoginClient/styles.js
  frontend/src/pages/LoginUser/index.jsx
  frontend/src/pages/LoginUser/styles.js
Labels: ⚛️ frontend, 🌟 new feature

#32 Feat: cria pagina cadastro
  frontend/src/App.js
  frontend/src/components/Informative/index.jsx
  frontend/src/pages/RegisterClient/index.jsx
  frontend/src/pages/RegisterClient/styles.js
  frontend/src/pages/RegisterUser/index.jsx
  frontend/src/pages/RegisterUser/styles.js
Labels: ⚛️ frontend, 🌟 new feature
